* {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
    font-family: 'Oswald', sans-serif;
}

html {
    background: url('bg.jpg');
}

body {
    min-width: 320px;
    background: url('bg.jpg');
    padding-top: 20px;
}

header {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

header>h1 {
    margin-bottom: 20px;
}

.by_mono {
    font-size: 10px;
    text-align: right;
    border-bottom: none;
}

.mono {
    text-align: right;
}

table {
    width: 200px;
    margin: 0 auto;
}

th:first-child {
    width: 40px;
    text-align: left;
}

th {
    height: 35px;
    line-height: 35px;
}

th {
    border-bottom: 1px dashed #aaa;
}

section {
    margin: 50px auto 0 auto;
    width: 420px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 110px;
    height: 35px;
    font-size: 20px;
    background-color: #ddd;
    border: none;
    color: #222;
    padding: 5px;
    box-sizing: border-box;
}

select {
    font-size: 20px;
    height: 35px;
}

.symbol {
    margin: 0 20px 0 20px;
    width: 30px;
    height: 30px;
}

main {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0 0 3px #aaa;
}

@media (max-width: 510px) {
    main {
        width: 350px;
    }

    section {
        width: 320px;
        flex-direction: column;
        margin-top: 40px;
    }

    section>div {
        margin: 0 auto 15px auto;
    }

    .symbol {
        margin: 0 auto 15px auto;
    }
}

@media (max-width: 415px) {
    main {
        width: 250px;
    }

    section {
        width: 220px;
        margin-top: 30px;
    }

    header {
        width: 250px;
    }

    h1 {
        font-size: 24px;
    }
}